@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;600;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Outfit', sans-serif;
}

.card{
  max-width: 440px;
  margin: 10rem auto;
  border: 1px solid black;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
}

.card img{
  width: 100%;
  border-radius: 10px;
}

.card-text{
  padding: 1rem;
}

.card-text h3{
  margin-bottom: 1rem;
  font-size: 1.5rem;
}